
{% extends "layout.html" %}
{% block body %}
<html>
<header>
<h1 class="white">
The Perfect College
</h1>
</header>

	
<br>
<body>
<p class="black"> Hey there.<br><br>
 Looking for a good campus? There are a lot to choose from. Over 7,600 to be exact! It can be difficult to choose a good university, so we made this little tool to make your life eaiser.</p>
<br><br><br><br>
<div id = "button">
<a href = "/QA/"> Find the best colleges based on your stats <a>
</div>
<br><br><br><br>

<div id = "button">
<a href = "/recommend" > Find the best colleges based on schools you like
</div>

</body>
</html>

{% endblock %}
